@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html {
    --background: #121212;
    --primary: #383141;
    --buttons: #bb86fc;
    --surface: #1a1a1a;
    --text: #f7f6f8;
    --error: #cf6679;
    --link: #03dac6;
    --link-visited: #018786;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', Courier, monospace;
    background-color: var(--background);
    text-align: center;
    color: var(--text);
    font-size: 17px;
}


.navbar {
    width: 100%;
    color: var(--text);
    padding: 20px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.links {
    display: none;
    background-color: var(--background);
    width: 80%;
    padding: 20px;
}

.links a {
    display: block;
    text-align: center;
}

.btn-menu {
    background-color: var(--background);
    color: var(--buttons);
    padding: 10px;
    border-radius: 15px;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover,
.btn-menu:hover {
    transition: all 200ms linear;
    filter: invert(1);
}

h1 {
    margin: 30px;
    font-size: 30px;
    text-align: center;
}

h2 {
    margin: 20px;
    text-align: center;
}

.btn {
    margin: 50px;
    font-size: 17px;
    background-color: var(--buttons);
    color: var(--surface);
    width: max-content;
    height: max-content;
    border: var(--primary) solid 3px;
    border-radius: 4px;
}

.btn:hover {
    transition: all 200ms linear;
    background-color: var(--surface);
    color: var(--buttons);
}

.error {
    background-color: var(--surface);
    width: max-content;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 24px;
    color: var(--error);
}

.content {
    width: 85%;
    height: max-content;
    background-color: var(--surface);
    color: var(--text);
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
}

.sub-content {
    width: 80%;
    background-color: var(--primary);
    margin: 20px auto;
    height: max-content;
    text-align: justify;
    border-radius: 14px;
    padding: 5px;
}

.list {
    list-style: none;
    margin: 5px;
    color: #d2d2d2;
}

p {
    text-align: justify;
}

.inactive,
.inactive:visited {
    color: #383141;
}

#error_img {
    height: 220px;
    width: 720px;
}

.logo {
    width: 40px;
    border-radius: 50px;
}

@media only screen and (max-width: 760px) {
    #error_img {
        height: 120px;
        width: 320px;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    body {
        font-size: smaller;
    }
}